@import "../../../node_modules/tailwindcss/base.css";
@import "../../../node_modules/tailwindcss/components.css";
@import "../../../node_modules/tailwindcss/utilities.css";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
}

@layer components {
    .input-error {
        @apply absolute left-0 bottom-0 -mb-5 ml-2 text-xs;
    }

    .page-container-placement{
        @apply pl-80 pt-[42px] w-5/6
    }

    .page-title{
        @apply text-3xl
    }

    .button-text-center{
        @apply flex justify-center items-center
    }

}
